<%- include('partials/header') %>

   <div class="container">
        <h1>Bem-vindo ao blog</h1>

        <form action="/admin/article/add" method="get">
            <button class="btn btn-primary" type="submit">Criar Artigo</button>
        </form>
        
   </div>
 
<%- include('partials/footer') %>

<style>

.container {
    margin: 5% 5%;
}

</style>