<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Artigo!</title>
</head>
<body>

    <div class="container">
        <h1>Criar artigo</h1>

        <form action="" method="post"></form>
        
    </div>
    
</body>
</html>

<style>

.container {
    margin: 5% 5%;
}


</style>